*{
    margin: 0px;
    padding: 0px;
    font-family:  system-ui;;
    font-weight: lighter;
}
header{
    background-color: #5091be;
    padding: 1%;
    padding-left: 2%;
    color: white;
    font-weight: 700;
    font-size: 25px;
}
nav{
    background-color: black;
    font-size: 14px;
    padding: 8px;
    font-family: system-ui;
    font-weight: 700;

}
nav a{
    color: white;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}
nav a:hover{
    background-color: grey;
}
nav img{
    float: right;
    padding-right: 1%;
}
#contactListContainer{
    width: 80%;
}
#contactContainer{
    padding: 1.5%;
    display: flex;
    width: auto;
    display: grid;
    grid-template-columns: 40% 50%;
}
/* #contactListContainer{
    font-weight: bold;
} */
#contactListContainer span{
    font-family: monospace;
    font-size: large;
    font-weight: bold;
}
#peopleList{
    color: #36332f;
    overflow: overlay;
    height: 345px;
}
section{
    margin-top: 15px
}
section ul li{
    list-style-type:none ;
    border-bottom: 1px solid #a9a4a4;
    padding-left: 10px;
    padding-bottom: 10px;
    
}
section ul li h5{
    padding-top: 2%;
    padding-left: 1%;
    font-weight: 380;
    color: black;
}
/* section ul li h2{
    font-weight: lighter;
    font-family: sans-serif;
} */
section ul li:hover{
    background-color: #DAE5E1;
    cursor: pointer;
}

section ul{
    border: 1px solid #a9a4a4; 
}
.add_contact_popup{
    border: 1px solid black;
    width: 100%;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    height: auto;
    padding-top: 3%;
}

.add_contact_popup:first-child{
    float: right;
}
.cancel{
   
    color: red;
    cursor: pointer;
    width: 3%;
    height: 4%;
    border: none;
    background-color: white;
}
.cancel_div{
    float: right;
}
.details{
    width: 80%;
    margin-bottom: 2%;
}
.contact{
    display: flex;
    justify-content:space-between;
}
.detail_style{
    margin-bottom: 2%;
    font-size: small;
    font-weight: 800;
}
.detail_style input{
    width: 100%; 
    height: 25px; 
    margin-top: 1%;
    font-weight: 400;
}
.mob{
    width: 47%;
}
.landline{
    width: 47%;
}
.inputStyle{
    height: 25px;
}
.btn{
    margin-left: 82%;
}

.btn input{
    border: none;
    background-color: none;
    color: white;
    background-color: #529d04;
    width: 100%;
    height: 25px;
} 
.btn input:hover{
    cursor: pointer;
    background-color:  #72d706;;
}
.update_contact_popup{
    border: 1px solid black;
    width: 100%;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    height: auto;
}
.view-contact-details{
    display: grid;
    margin-top: 5%;
    justify-content: space-evenly;
    grid-template-columns: 60% 10% 10%;
    /* font-family: sans-serif;
    font-weight: lighter; */
}

#name{
    font-size: 20px;
    margin-bottom: 4%;
    font-weight: 700;
    margin-top: -10px;
}
#email{
    margin-bottom: 3%;
    color:black;
    font-weight: 380;
}
#cont{
    margin-bottom: 3%;
    color: black;
    font-weight: 380;
}
#website{
    margin-bottom: 3%;
    color: black;
    font-weight: 380;
}
#addr{
    color: black;
    font-weight: 380;
}
.style img{
    margin-right: 5px;
    margin-top: 0.8px;
}
.style{
    display: flex;
    font-size: 12px;
    font-weight: 700;
}

.style a{
    cursor: pointer;
    padding-top: 5%;
    display: flex;
}

.style a:hover{
    text-decoration:underline;
}

::-webkit-input-placeholder{
    padding: 5px;
    font-weight: 500;
}


.check-style{
    color: red;
}

#formDetailAddr{
    height: 75px; 
    width: 100%;
}

@media (width<=700px){
    .add_contact_popup{ 
    grid-template-columns: auto auto;  
    }
}

.active{
    background-color:  #DAE5E1;
}