*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-weight: lighter;
}
header{
    background-color: #5091be;
    padding: 2%;
    padding-left: 2%;
    color: white;
}
nav{
    background-color: black;
    font-size: 14px;
    padding: 8px;
    font-family: system-ui;
    font-weight: 700;
}
nav a{
    color: white;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav a:hover{
    background-color: grey;
}
nav img{
    float: right;
    padding-right: 0.5%;
}
#contact-list-container{
    width: 90%;
}
#contactContainer{
    padding: 2%;
    display: flex;
    width: auto;
    display: grid;
    grid-template-columns: 40% 50%;
}
/* #contact-list-container{
    font-weight: bold;
} */
#contact-list-container span{
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
}
#people-list{
    color: #36332f;
    overflow: overlay;
    height: 375px;
}
section{
    margin-top: 15px
}
section ul li{
    list-style-type:none ;
    border-bottom: 1px solid grey;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
    
}
section ul li h5{
    padding-top: 2%;
    padding-left: 1%;
}
/* section ul li h2{
    font-weight: lighter;
    font-family: sans-serif;
} */
section ul li:hover{
    background-color: #DAE5E1;
    cursor: pointer;
}

section ul{
    border: 1px solid grey;
    
}
.add_contact_popup{
    /* display: grid;
    grid-template-columns: auto auto auto; */
    border: 1px solid black;
    width: 100%;
    padding: 5%;
    /* column-gap: 20px;
    row-gap: 15px; */
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    height: auto;
}
.cancel{
    margin-left: 96%;
    color: grey;
    cursor: pointer;
    width: 3%;
    height: 4%;
    border: none;
    background-color: white;
}
.details{
    width: 80%;
    margin-bottom: 2%;
}
.contact{
    display: flex;
    justify-content:space-between;
}
.detail_style{
    margin-bottom: 4%;
}
.detail_style input{
    width: 100%; 
    height: 25px; 
    margin-top: 1%;
}
.mob{
    width: 47%;
}
.landline{
    width: 47%;
}
.inputStyle{
    height: 25px;
}
.btn{
    margin-left: 82%;
}

.btn input{
    border: none;
    background-color: none;
    color: white;
    background-color: #529d04;
    width: 100%;
    height: 25px;
} 
.btn input:hover{
    cursor: pointer;
    background-color:  #72d706;;
}
.update_contact_popup{
    border: 1px solid black;
    width: 100%;
    padding: 5%;
    /* column-gap: 20px;
    row-gap: 15px; */
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    height: auto;
}
.view-contact-details{
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
    /* font-family: sans-serif;
    font-weight: lighter; */
}

#name{
    font-size: 20px;
    margin-bottom: 4%;
}
#email{
    margin-bottom: 8%;
    color: #36332f;
}
#cont{
    margin-bottom: 8%;
    color: #36332f;
}
#website{
    margin-bottom: 9%;
    color: #36332f;
}
#addr{
    color: #36332f;
}
.style img{
    margin-right: 5px;
}
.style{
    display: flex;
    font-size: 12px;
}

.style a{
    cursor: pointer;
    padding-top: 5%;
}

.style a:hover{
    text-decoration:underline;
}
@media (width<=700px){
    .add_contact_popup{ 
    grid-template-columns: auto auto;  
    }
}